xsd/ejemplo1/mensaje.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="mensaje">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="de" type="xs:string"/>
                <xs:element name="para" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                <xs:element name="asunto" type="xs:string"/>
                <xs:element name="contenido" type="xs:string"/>
                <xs:element name="enviado" type="xs:positiveInteger"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>